
/***************************** Estilos Seccion Seven*****************************/
    /* Queda como container Seven */
    .seven{
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
        margin-top: 5%;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
  }

  .content-projects {
    width: 70%;
        display: flex;
        /*flex-direction: row;*/
        flex-wrap: wrap;
        /*justify-content: space-between;*/
        align-items: center;
        justify-content: space-around;
        border: 1px solid goldenrod;
      }

  .proyecto-envolvente{
          border: 1px solid rgb(43, 205, 226);
          width: 280px;
          height: 180px;
          background-color: rgba(21, 114, 206, 0.176);
          margin-top: 3%;
          /*margin-left: 3rem;*/
          margin-bottom: 3rem;
          border-radius: 8px;
          position: relative;
      }
