/***************Estos estilos son los generales a todo***************/

*{
    margin: 0;
    padding: 0;
    /*background-color: #00000C;*/ /*#00000C;*/
    box-sizing: border-box;
  }
  
body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  
   background: linear-gradient(to bottom, #00000C 0%, #030f21 100%);
  
 
  /*overflow-y: hidden;*/
  /*Este esconde el scroll pero se activa en index.ts*/
  /*
    overscroll-behavior: none;
  */
  
}

#bg{

  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: fixed;
}

a{
  text-decoration: none;
}

  /*****************************Estilos Generales*****************************/

.section{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  /*background-color: blue;*/
  min-height: 100vh; 
  width: 100vw;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.container{
  display: flex;
  width: 510px;
  /*border: 1px solid rgb(211, 14, 198);*/
   /*
   Estos valores cambian para cada container de contenido
   'container second'
       margin-top: 5%;
      margin-left: 40%;
      padding-left: 1.5%;
   */
}

h1{
  font-family: 'Bruno Ace', cursive;
  font-weight: 100;
  color: white;
}

H2{
  font-family: 'Bruno Ace', cursive;
  font-weight: 100;
  color: white;
}

h3{
  font-family: 'DM Sans', 
  sans-serif;
  color: white;
}

h4{
  font-family: 'Bruno Ace', cursive;
  color: white;
}

.section p{
  color: white;
}

.div_Title{
  display: flex;
  justify-content: center;
  margin-top: 1px;
  border: 1px solid red;
}

/*Este va como span dentro del H2*/
.section_title{
  font-size: 3.5rem;
  font-weight: 100;
  /*text-shadow: 0 0 3px #010451, 0 0 4px #060c1bbe;*/
  background-image: linear-gradient(63deg, rgba(195,50,34,1) 0%, rgba(241,198,95,0.9856734930300245) 58%);
  -webkit-background-clip: text;
  color: transparent;

}

/*Este es un span para los subtitulos de FE y DG*/
.subSectionTitle{
  font-size: 2rem;
  font-weight: 100;
  text-shadow: 0 0 3px #010451, 0 0 4px #060c1bbe;
  
}
